services:
  - type: web
    name: privatediary-monitoring
    env: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 3001
      - key: MONGO_URI
        sync: false
      - key: PRIMARY_URL
        value: https://xmn-pvtdiary.onrender.com
    healthCheckPath: /api/health
    autoDeploy: true
    headers:
      - path: /*
        name: X-Frame-Options
        value: DENY
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
      - path: /*
        name: Referrer-Policy
        value: strict-origin-when-cross-origin
